.searchbar-container{
  border: 1px solid deeppink;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.left-content, .right-content {
  border: 1px solid orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin: .5rem 2rem;
  padding: .25rem;
}


img {
  width: 30px;
  height: 30px;
  background: white;

}



.logo {
  font-family: Lobster;
  display: flex;
  align-items: baseline;
  font-size: 2.25rem;
  line-height: 2.25rem;
}