.commentsSection-container{
  border: 10px solid darkorange;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.commentsHeader-container{
  border: 2px solid palevioletred;
  width: 40%;
  padding: .5rem;

}

.commentsHeaderIMG{
  border: 1px solid slateblue;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: .25rem;
  cursor: pointer;

}


.commentsHeaderLikes {
  border: 1px solid cornflowerblue;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;

}

.comment-container {
  border: 5px solid darkviolet;
  width: 90%;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: .25rem;
  /* margin: .25rem 1rem; */
}

.userName{
  border: 1px solid green;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bold;
  width: 100%;
  padding: 0;
  vertical-align: baseline;
}

.comment {
  border: 1px solid mediumvioletred;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 0;
  vertical-align: baseline;

}

.newCommentForm {
  border: 5px solid hotpink;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;


}

.addComment {
  border: 1px solid rebeccapurple;
  width: 90%;

}

.inputSubmit {
  border: 1px solid dodgerblue;
  display: flex;

  margin: 0 auto;


}

.commentDate {
  border: 1px solid forestgreen;
  text-align: right;
  padding: 0;


}